@model AssignTaskViewModel
<div class="modal fade" id="edit-pty-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header bg-info ">
                <div class="modal-dark modal-title text-white" id="exampleModalLongTitle">
                    @Model.TaskName
                </div>
                <button type="button" class="btn" aria-label="Close" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                         fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                    </svg>
                </button>
            </div>
            <form method="post" asp-action="Assigntask" asp-controller="Project">

                <div class="modal-body ">

                    <fieldset id="pty-form-fieldset">

                        <div class="modal-flex my-3">

                            <input id="id" hidden asp-for="TaskId" />
                            <div class="row">
                                @if (Model.Users != null && Model.Users.Count > 0)
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-4">
                                        <select asp-for="EmployeeId" class=" form-select" style="height:60px;">
                                            @for (int i = 0; i < Model.Users.Count; i++)
                                            {
                                                <option value="@Model.Users[i].Id">@Model.Users[i].FirstName + @Model.Users[i].LastName</option>
                                            }
                                        </select>

                                    </div>

                                }

                            </div>
                        </div>

                    </fieldset>

                </div>
                <input hidden asp-for="ProjectId" />
                <div class="w-100 d-flex justify-content-evenly my-4 row">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline col-5 bg-dark text-light ">Cancel</button>
                    <button type="submit" id="add-pt-save-btn" class="btn btn-outline col-5  bg-info">Save</button>
                </div>


            </form>
        </div>
    </div>
</div>